<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label></br>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <h6> We'll never share your email with anyone else.</h6>
  </div></br></br>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label></br>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div></br></br>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div></br>
  <button type="submit" class="btn btn-primary">Login</button></br></br>
  <a href='http://localhost:8000/accounts/home/register'>New User Registration</a>

</form>